
.dropdown-menu {
    background-color: dimgray;
    float: right;
}

.navbar-brand {
    background-color: aqua;
    text-decoration-color: antiquewhite;
}

.card-title {
    color: cyan;
}

.footer {
    text-align: center
}

table {
    width: auto;
}
  
th {
    height: 50px;
    padding: 20px;
}

.nav-item {
    float: right;
}